{% extends 'main_page/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/edit-prod.css' %}">
{% endblock %}

{% block content %}
    <h2>Управление товаром: <b>{{ product.name }}</b></h2>

    <section>
        <div class="content container">
            <div class="edit-product">
                <form method="post" class="edit-form" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form_prod.as_p }}

                    <div class="button">
                        <button class="save-btn btn">Сохранить</button>
                    </div>
                </form>

                <div class="control-buttons">


                    <form action="{% url 'main_page:delete' product.id %}" method="post" class="edit-form">
                        {% csrf_token %}

                        <div class="button">
                            <button class="del-btn btn">Удалить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback-content">
        <h2 class="container">Отзывы</h2>

        <div class="feedback_info container">
            <h3 class="feedback-rating">
                {{ product.vote_ratio }}% Положительных отзывов
                ({{ product.vote_total }} Vote{{ product.vote_total | pluralize:'s' }})
            </h3>
        </div>

        <div class="feedback-wrapper container">
            <div class="feedbacks-tape">
                {% for review in user_reviews %}
                    {% if review.body %}
                        <div class="feedback__item">
                            <div class="avatar-block">
                                <img src="{{ review.owner.img.url }}" height="50" width="50" alt="Фото профиля">
                                <p class="feedback-username"><b>{{ review.owner }}</b></p>
                            </div>

                            <div class="feedback-description">
                                <p class="feedback-body"><b>{{ review.body | linebreaksbr }}</b></p>
                            </div>

                            <div class="feedback-vote">
                                <p class="feedback-vote">Голос: <b>{{ review.value }}</b></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}